@keyframes arrow {
  from {
    inset-inline-start: -20px;
  }

  to {
    inset-inline-start: -16px;
  }
}

@keyframes big-heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.theme-menu__button:disabled::before {
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--color-main);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-main);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  transform-box: fill-box;
  animation: big-heart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}